<div class="text-center mt-3">
    <container-element [ngSwitch]="predicate">
        <h2 *ngSwitchCase="'visited'">Members I visited</h2>
        <h2 *ngSwitchCase="'visitedBy'">Members who visited me</h2>
        <h2 *ngSwitchCase="'all'">All visits</h2>
        <h2 *ngSwitchCase="'pastMonth'">last 30 days visits</h2>
        <some-element *ngSwitchDefault> </some-element>
     </container-element>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" btnRadio="visited"
                [(ngModel)]="predicate" (click)="loadVisits()" >Members I visited</button>
            <button class="btn btn-primary" btnRadio="visitedBy"
                [(ngModel)]="predicate" (click)="loadVisits()" >Members who visited me</button>
                <button class="btn btn-primary" btnRadio="all"
                [(ngModel)]="predicate" (click)="loadVisits()" >All visits</button>
            <button class="btn btn-primary" btnRadio="pastMonth"
                [(ngModel)]="predicate" (click)="loadVisits()" >last 30 days visits</button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <app-member-card [member]="member"></app-member-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>